html,
body {
  font-family: "Inter", sans-serif;
  font-size: medium;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: forestgreen;
}

a:visited {
  color: darkgreen;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.header-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header-tabs-anchor {
  font-size: x-large;
  color: white;
  margin-left: 15px;
}

.grid-item {
  margin: 5px;
}

.header-image-link {
  height: 32px;
  width: 32px;
}

.header-link {
  height: 32px;
  width: 32px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  height: 75px;
}

#header-title {
  font-size: xx-large;
  text-decoration: none;
  margin: 5px;
}

#header-title:visited {
  color: black;
}
#header-tabs-container {
  display: flex;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: auto;
  margin-left: 3%;
  margin-right: 3%;
}

#main-introduction {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#main-introduction-title {
  font-size: x-large;
  color: forestgreen;
  margin-bottom: 0px;
  text-align: start;
}

#main-introduction-textarea {
  display: flex;
  flex-direction: column;
}

#main-image {
  border-radius: 50%;
  border-style: dashed;
  color: forestgreen;
}

#footer {
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.separator {
  width: 80%;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#introduction-title {
  color: forestgreen;
}

#main-showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#showcase-title {
  color: forestgreen;
}

#showcase-box {
  display: flex;
  justify-content: space-around;
}

.showcase-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.showcase-image {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.showcase-item-title {
  margin-bottom: 5px;
}

.showcase-card-text {
  margin: 5px;
}
