@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: medium;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100%;
}

a {
  color: black;
}

a:visited {
  color: gray;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 100vw;
  max-width: 100%;
}

/* Animation */

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Coloring */

.primary-color {
  color: black;
}

.accent-color {
  color: forestgreen;
}

/* General classes */

.center {
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.no-margin {
  margin: 0;
}

.no-decoration {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

/* Specific items */

.avatar {
  border-radius: 50%;
  border: 3px;
  border-style: dashed;
  height: 150px;
  width: 150px;
}

.showcase {
  max-width: 50%;
}

.showcase-img {
  height: 178px;
  width: 399px;
}

.showcase-p {
  word-wrap: normal;
}

.showcase-item {
  max-width: 45%;
}
